@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Thin.woff2'), url('fonts/Gilroy-Thin.woff'), url('fonts/Gilroy-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-white: #ffffff;
    --basic-grey: #464646;
    --basic-half-grey: #7E7E7E;
    --basic-grey-light: #E5E5E5;
    --special-yellow: #F7E296;
    --special-green: #91C92F;
    --special-yellow-dark: #F0C52E;
    --white-30: rgba(255, 255, 255, 0.3);
    --white-60: rgba(255, 255, 255, 0.6);
    --error: #F6DADA;
    --basic-dark: #363636;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

body {
    width: 100%;
    font-family: 'Gilroy', sans-serif;
    font-size: 15px;
    margin: auto;
    width: 1440px;
    line-height: 20.43px;
    font-weight: 300;
    color: var(--basic-black);
    background-color: var(--basic-white);
    letter-spacing: 0em;
}

.container {
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--basic-black);
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
}

header {
    background-color: var(--special-yellow);
    height: 300px;
    margin-top: 40px;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 120px 20px 60px repeat(11, 40px 60px) 20px 120px;
}

header {
    grid-column: 3 / -3;
}

header .container {
    display: grid;
    grid-template-columns: 60px repeat(11, 40px 60px);
    width: 1160px;
    grid-column: 3 / -3;
    height: 100%;
}

.main-header-wrapper>ul {
    display: grid;
    grid-template-columns: repeat(10, 40px 60px) 40px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.main-header-wrapper li:nth-of-type(1) {
    grid-column: 1 / 11;
}

header nav {
    grid-column: 2 / -2;
    position: relative;
    height: 193px;
}

.search-form {
    grid-column: 2 / 12;
}

.header-user-menu {
    grid-column: 12 / -1;
    display: grid;
    grid-template-columns: 80px 255px 125px 90px;
    height: 90px;
}

.main-header-user-link {
    display: inline-block;
}

.main-header-login {
    grid-column: 1 / 2;
    width: 80px;
    position: relative;
    top: 43px;
}

.user {
    grid-column: 1 / 3;
    position: relative;
    top: 43px;
}

.main-header-compare {
    grid-column: 3 / 4;
    position: relative;
    top: -2px;
}

.main-header-cart {
    position: relative;
    top: -2px;
}

.search {
    margin: 0;
    padding: 0;
    position: relative;
    top: 30px;
}

.main-header-menu {
    display: grid;
    grid-template-columns: repeat(10, 40px 60px) 40px;
}

.header-menu-catalog {
    grid-column: 1 / 12;
}

.catalog-menu-list {
    position: relative;
    top: 30px;
}

.catalog-menu-list,
.catalog-menu-list li {
    display: inline-block;
}

.column-1 {
    grid-column: 1 / 5;
    width: 180px;
    height: 130px;
}

.column-2 {
    grid-column: 6 / 9;
    width: 131px;
    top: -12px;
    left: 53px;
}

.column-3 {
    grid-column: 10 / 12;
    width: 114px;
    top: -54px;
    left: 88px;
}

.main-header-delivery {
    grid-column: 12 / 15;
}

.main-header-warranty {
    grid-column: 16 / 19;
}

.main-header-contacts {
    grid-column: -3 / -1;
    position: relative;
    left: -17.5px;
}

main {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 120px 20px 60px repeat(11, 40px 60px) 20px 120px;
}

.slider {
    grid-column: 3 / -3;
}

.categories {
    grid-column: 3 / -3;
}

.services {
    grid-column: 1 / -1;
}

.brands {
    grid-column: 3 / -3;
}

.about-section {
    grid-column: 3 / -3;
}

footer {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 120px 20px 60px repeat(11, 40px 60px) 20px 120px;
    height: 324px;
    margin: 0;
}

footer .container {
    grid-column: 3 / -3;
    display: grid;
    grid-template-columns: 60px repeat(11, 40px 60px);
    grid-template-rows: 99px 127px 108px;
}

.footer-wrapper-top {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 60px repeat(11, 40px 60px);
}

.footer-wrapper-center {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 60px repeat(11, 40px 60px);
}

.footer-wrapper-bottom {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 60px repeat(11, 40px 60px);
}

.footer-logo {
    grid-column: 1 / 4;
    width: 163px;
    margin-top: 64px;
}

.footer-wrapper-top ul {
    grid-column: -8 / -1;
    margin-left: 46px;
}

.footer-wrapper-top ul li a {
    padding-left: 3px;
}

.products-list {
    display: flex;
    gap: 40px;
    margin: auto;
    flex-wrap: wrap;
}

.breadcrumbs-container {
    grid-column: 4 / 11;
    margin: 44px 0 50px 0;
}

.catalog {
    grid-column: 1 / -1;
}

.catalog-content .container {
    display: grid;
    grid-template-columns: 120px 20px 60px repeat(11, 40px 60px) 20px 120px;
}

.catalog-header {
    grid-column: 1 / -1;
    width: 1440px;
    height: 70px;
}

.catalog-header .container {
    width: 1440px;
    height: 70px;
}

.filter-header {
    grid-column: 1 / 10;
    z-index: 1;
    height: 70px;
    grid-row: 1 / 2;
    width: 468px;
}

.catalog-sort {
    grid-column: 9 / 28;
    grid-row: 1 / 2;
    position: relative;
    left: 105px;
    padding-top: 10px;
}

aside {
    height: 1214px;
    width: 268px;
    padding-left: 200px;
    border-radius: 0px;
    grid-column: 1 / 10;
}

.filter-form {
    height: 100%;
    margin-top: 70px;
}

section.catalog-products {
    grid-column: 11 / -1;
    grid-row: 1 / 1;
    margin-top: 70px;
}

header li {
    display: inline-block;
}

header .logo {
    opacity: 1;
    position: relative;
    left: 60px;
    bottom: 20px;
    width: 164px;
}

header .logo:hover [href],
.footer-logo:hover [href] {
    opacity: 0.6;
    cursor: pointer;
}

header .logo:active [href],
.footer-logo:active [href] {
    opacity: 0.3;
    cursor: pointer;
}

header li a:hover,
footer li a:hover,
header li a:focus,
footer li a:focus,
.footer-phone a:hover,
.footer-phone a:focus {
    opacity: 0.6;
}

header li a:active,
footer li a:active {
    opacity: 0.3;
}

.main-header-search {
    border-radius: 0;
    border-width: 0;
    border-style: solid;
    border-bottom-color: var(--basic-black);
    border-bottom-width: 2px;
    margin: 0px -4px 0 0;
    height: 44px;
    width: 356px;
    background: transparent;
}

.search-form {
    grid-column: 4 / 12;
}

.main-header-search:focus {
    outline: 2px dotted #363636;
}

.search-button {
    border-style: solid;
    border-radius: 0;
    border-color: var(--basic-black);
    height: 48px;
    width: 82px;
    background: transparent;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--basic-black);
    color: var(--basic-white);
}

.search-button:active {
    background-color: var(--basic-black);
    color: var(--white-60);
}

.main-header-search::placeholder {
    opacity: 0.3;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    width: 144px;
    text-align: right;
    background-image: url(/img/icon_search.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
}

.main-header-search::-webkit-input-placeholder::before {
    content: '';
    width: 13px;
    height: 14px;
    background-image: url("/img/icon_user.svg");
    background-position: 50% 50%;
    position: relative;
    display: inline-block;
    bottom: -2px;
    left: -13px;
    margin-left: 20px;
}

.main-header-search:hover::placeholder {
    opacity: 0.6;
}

.main-header-search:focus::placeholder {
    opacity: 1;
}

.main-header-wrapper {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.main-header-menu-item {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-align: left;
    text-transform: uppercase;
}

.main-header-login::before,
.main-header-account::before {
    content: '';
    width: 13px;
    height: 14px;
    background-image: url("/img/icon_user.svg");
    background-position: 50% 50%;
    position: relative;
    display: inline-block;
    bottom: -2px;
    left: -13px;
    margin-left: 20px;
}

.main-header-compare::before {
    content: '';
    width: 14px;
    height: 14px;
    background-image: url("/img/icon_chart.svg");
    background-position: 50% 50%;
    position: relative;
    display: inline-block;
    bottom: -2px;
    left: -11px;
}

.main-header-cart::before {
    content: '';
    width: 10px;
    height: 10px;
    background-image: url("/img/icon_cart.svg");
    background-position: 50% 50%;
    position: relative;
    display: inline-block;
    bottom: 0px;
    left: -14px;
}

.catalog-menu-item {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: none;
    margin-bottom: 20px;
}

.catalog-menu {
    display: none;
    opacity: 1;
}

.header-menu-catalog>a::after {
    content: '';
    background-image: url("/img/icon_plus.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 230px;
    bottom: 156.5px;
    display: inline-block;
}

.header-menu-catalog:hover .catalog-menu {
    display: block;
}

.slider-title {
    font-size: 47px;
    font-style: normal;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
}

.slider-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.more-link,
.hover-links button.add-to-cart {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, transparent 44%, var(--special-yellow-dark)44%, var(--special-yellow-dark) 62%, transparent 55%);
    background-clip: padding-box;
    text-align: center;
    padding: 14px 43px 10px 45px;
    margin: 14px 43px 10px 45px;
    border: 0;
    background-color: transparent;
}

.more-link:hover,
.more-link:active,
.services-link:hover,
.services-link:active,
.hover-links button.add-to-cart:hover,
.hover-links button.add-to-cart:active {
    background-image: linear-gradient(to bottom, var(--special-yellow-dark) 0%, var(--special-yellow-dark) 100%);
}

.more-link:active,
.hover-links button.add-to-cart:active {
    color: #00000088;
}

.hover-links button {
    cursor: pointer;
}

.add-to-compare {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: left;
    opacity: 0.5;
}

.services-link#delivery-link {
    width: 104px;
    text-align: center;
    background-image: linear-gradient(to bottom, transparent 42%, var(--special-yellow-dark)42%, var(--special-yellow-dark) 60%, transparent 55%);
    background-clip: padding-box;
    text-align: center;
    padding: 14px 21px 10px 20px;
}

.services-link#warranty-link {
    width: 102px;
    text-align: center;
    background-image: linear-gradient(to bottom, transparent 42%, var(--special-yellow-dark)42%, var(--special-yellow-dark) 60%, transparent 55%);
    background-clip: padding-box;
    text-align: center;
    padding: 14px 22px 10px 22px;
}

.services-link#credit-link {
    width: 84px;
    text-align: center;
    background-image: linear-gradient(to bottom, transparent 42%, var(--special-yellow-dark)42%, var(--special-yellow-dark) 60%, transparent 55%);
    background-clip: padding-box;
    text-align: center;
    padding: 14px 35px 10px 35px;
}

:not(.current) .services-link#credit-link:hover,
:not(.current) .services-link#warranty-link:hover,
:not(.current) .services-link#delivery-link:hover,
:not(.current) .services-link#credit-link:active,
:not(.current) .services-link#warranty-link:active,
:not(.current) .services-link#delivery-link:active {
    background-image: linear-gradient(to bottom, var(--special-yellow-dark), var(--special-yellow-dark));
}

.current .services-link#credit-link,
.current .services-link#warranty-link,
.current .services-link#delivery-link,
.current .services-link#credit-link:hover,
.current .services-link#warranty-link:hover,
.current .services-link#credit-link:hover,
.current .services-link#warranty-link:hover,
.current .services-link#delivery-link:hover,
.current .services-link#credit-link:active,
.current .services-link#warranty-link:active,
.current .services-link#delivery-link:active {
    background-image: linear-gradient(to bottom, var(--basic-black), var(--basic-black));
    color: var(--special-yellow);
}

.current .services-link#credit-link {
    padding-right: 137px;
}

.current .services-link#warranty-link {
    padding-right: 139px;
}

.current .services-link#delivery-link {
    padding-right: 142px;
}

.services-tab {
    text-align: center;
    margin: 30px;
}

.parameters dd {
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 42px;
    letter-spacing: 0.1em;
    text-align: left;
}

.category-image {
    width: 160px;
    height: 160px;
    text-align: center;
    background-color: var(--special-yellow);
}

.category-image svg {
    width: 117px;
    height: 117px;
    margin-top: 21.5px;
}

.categories-item-link:hover .category-image,
.categories-item-link:active .category-image {
    width: 160px;
    height: 160px;
    text-align: center;
    background-color: var(--special-yellow-dark);
}

.categories-item-link:active p {
    opacity: 0.5;
}

.categories-item-link:active svg {
    width: 117px;
    height: 117px;
    margin-top: 21.5px;
    opacity: 0.5;
}

.categories-item {
    display: inline-block;
}

.categories-item p {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-align: left;
}

.services-item-title {
    font-size: 47px;
    font-style: normal;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0.2em;
    text-align: left;
}

.services-tab {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-align: left;
    text-transform: uppercase;
}

h2 {
    font-size: 47px;
    font-style: normal;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0.2em;
    text-align: left;
}

ul:not([class="delivery-services-list"]) {
    list-style: none;
}

.delivery-service {
    list-style: url("/img/li-marker.svg");
}

.services {
    background: var(--basic-grey-light);
}

.brand {
    display: inline-block;
}

.brand a {
    filter: grayscale(1) opacity(0.3);
}

.brand a:hover {
    filter: none;
}

footer {
    background-color: var(--basic-dark);
    color: var(--basic-white);
}

footer a {
    color: var(--basic-white);
}

.footer-links-list li {
    display: inline-block;
}

.footer-links-list a {
    color: var(--white-60);
    opacity: 1;
}

.footer-links-list a:hover {
    color: var(--basic-white);
    opacity: 1;
}

.footer-links-list a::before {
    opacity: 1;
}

.footer-links-list a:hover::before {
    opacity: 0.6;
}

.footer-links-list a:active::before {
    opacity: 0.3;
}

span.user {
    display: inline-block;
}

.search-form {
    display: inline-block;
}

.footer-links-list a {
    color: var(--white-60);
}

.contacts,
.about-us {
    line-height: 28px;
}

.social-button {
    font-size: 0;
}

.social-button a:hover {
    opacity: 1;
}

.social-button a {
    opacity: 0.6;
}

.footer-login {
    margin-right: 45px;
    margin-left: -4px;
}

.footer-login::before {
    content: '';
    width: 14px;
    height: 14px;
    background-image: url("/img/icon_user-footer.svg");
    background-position: 50% 50%;
    position: relative;
    display: inline-block;
    bottom: -2px;
    left: -14px;
    background-repeat: no-repeat;
}

.footer-compare {
    margin-right: 50px;
    margin-left: -8px;
}

.footer-compare::before {
    content: '';
    width: 14px;
    height: 14px;
    background-image: url("/img/icon_chart-footer.svg");
    background-position: 50% 50%;
    position: relative;
    display: inline-block;
    bottom: -2px;
    left: -14px;
    background-repeat: no-repeat;
}

.footer-cart::before {
    content: '';
    width: 14px;
    height: 14px;
    background-image: url("/img/icon_cart-footer.svg");
    background-position: 50% 50%;
    position: relative;
    display: inline-block;
    bottom: 0px;
    left: -14px;
    background-repeat: no-repeat;
}

.footer-menu-item {
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-align: left;
    display: inline-block;
}

.social-button-list li {
    display: inline-block;
}

.social-button {
    display: inline-block;
    opacity: 0.6;
}

.social-button:hover {
    opacity: 1;
}

.footer-academy-logo {
    opacity: 1;
}

.footer-academy-logo:hover {
    opacity: 0.6;
}

.footer-academy-logo:active {
    opacity: 0.3;
}

.modal {
    background-color: var(--basic-white);
    display: none;
    box-shadow: 0px 10px 16px 0px #00000026;
    position: absolute;
    top: 1187px;
    left: 280px;
    width: 960px;
    height: 550px;
}

.modal-close {
    font-size: 0;
    background-image: url("/img/icon_cross.png");
    background-color: var(--special-yellow);
    border-radius: 50%;
    height: 55px;
    width: 55px;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 0;
}

.modal-close:hover {
    background-color: var(--special-yellow-dark);
}

.modal-close:active {
    background-color: var(--special-yellow-dark);
    opacity: 0.3;
}

.write-as-input {
    background: #f7f7f7;
    border: 0;
    width: 360px;
    height: 50px;
}

.write-as-textarea {
    background: #f7f7f7;
    border: 0;
    height: 167px;
    width: 760px;
    border-radius: 0px;
}

.write-us-label {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.modal .button {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, transparent 42%, var(--special-yellow)42%, var(--special-yellow) 60%, transparent 55%);
    background-clip: padding-box;
    text-align: center;
    padding: 14px 43px 10px 45px;
    margin: 14px 43px 10px 45px;
    background-color: transparent;
    border: 0;
}

.modal .button:hover,
.modal .button:active {
    background-image: linear-gradient(to bottom, var(--special-yellow) 0%, var(--special-yellow) 100%);
    color: #00000088;
    background-color: transparent;
    border: 0;
}


/* 
* CATALOG styles
*
*/

.breadcrumbs-item {
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.6;
}

.breadcrumbs-item a[href]::after {
    content: ">";
    margin-left: 5px;
}

.catalog-nav {
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
    background-color: var(--basic-grey-light);
}

.catalog-nav * {
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
}

.catalog-nav ul {
    margin: 0;
    padding: 0;
}

.catalog-nav .page {
    opacity: 0.3;
}

.catalog-nav .page.current {
    opacity: 1;
}

.filter-group,
.filter-horisontal,
.left-side {
    background-color: var(--basic-grey-light);
    border: 0;
    border-radius: 0;
    margin: 0;
}

.filter-horisontal h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
}

.filter-group legend {
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 10px;
}

.catalog-sort-item {
    opacity: 0.3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.current {
    opacity: 1;
}

.catalog-header * {
    display: inline-block;
}

.catalog-content .left-side {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
}

.filter-horisontal {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
}

.catalog-products {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.product {
    height: 462px;
    min-width: 360px;
    width: 360px;
}

.filter-header {
    background-color: #DCDCDC;
}

legend {
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-align: left;
}