@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Thin.woff2'), url('fonts/Gilroy-Thin.woff'), url('fonts/Gilroy-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

 :root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-white: #ffffff;
    --basic-grey: #464646;
    --basic-half-grey: #7E7E7E;
    --basic-grey-light: #E5E5E5;
    --special-yellow: #F7E296;
    --special-green: #91C92F;
    --special-yellow-dark: #F0C52E;
    --white-30: rgba(255, 255, 255, 0.3);
    --white-60: rgba(255, 255, 255, 0.6);
    --error: #F6DADA;
    --basic-dark: #363636;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

body {
    width: 100%;
    font-family: 'Gilroy', sans-serif;
    font-size: 15px;
    margin: auto;
    width: 1440px;
    line-height: 20.43px;
    font-weight: 300;
    color: var(--basic-black);
    background-color: var(--basic-white);
    letter-spacing: 0em;
    position: relative;
}

.container {
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--basic-black);
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
}

header {
    background-color: var(--special-yellow);
    height: 300px;
    margin-top: 40px;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 120px 20px 60px repeat(11, 40px 60px) 20px 120px;
}

header {
    grid-column: 3 / -3;
}

header .container {
    display: grid;
    grid-template-columns: 60px repeat(11, 40px 60px);
    width: 1160px;
    grid-column: 3 / -3;
    height: 100%;
}

.main-header-wrapper>ul {
    display: grid;
    grid-template-columns: repeat(10, 40px 60px) 40px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.main-header-wrapper li:nth-of-type(1) {
    grid-column: 1 / 11;
}

header nav {
    grid-column: 2 / -2;
    position: relative;
    height: 193px;
}

.search-form {
    grid-column: 2 / 12;
}

.header-user-menu {
    grid-column: 12 / -1;
    display: grid;
    grid-template-columns: 80px 255px 125px 90px;
    height: 90px;
}

.main-header-user-link {
    display: inline-block;
}

.main-header-login {
    grid-column: 1 / 2;
    width: 80px;
    position: relative;
    top: 43px;
}

.user {
    grid-column: 1 / 3;
    position: relative;
    top: 43px;
}

.main-header-compare {
    grid-column: 3 / 4;
    position: relative;
    top: -2px;
}

.main-header-cart {
    position: relative;
    top: -2px;
}

.search {
    margin: 0;
    padding: 0;
    position: relative;
    top: 30px;
}

.main-header-menu {
    display: grid;
    grid-template-columns: repeat(10, 40px 60px) 40px;
}

.header-menu-catalog {
    grid-column: 1 / 12;
}

.catalog-menu-list {
    position: relative;
    top: 30px;
}

.catalog-menu-list,
.catalog-menu-list li {
    display: inline-block;
}

.column-1 {
    grid-column: 1 / 5;
    width: 180px;
    height: 130px;
}

.column-2 {
    grid-column: 6 / 9;
    width: 131px;
    top: -12px;
    left: 53px;
}

.column-3 {
    grid-column: 10 / 12;
    width: 114px;
    top: -54px;
    left: 88px;
}

.main-header-delivery {
    grid-column: 12 / 15;
}

.main-header-warranty {
    grid-column: 16 / 19;
}

.main-header-contacts {
    grid-column: -3 / -1;
    position: relative;
    left: -17.5px;
}

main {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 120px 20px 60px repeat(11, 40px 60px) 20px 120px;
}

.slider {
    grid-column: 3 / -3;
}

.categories {
    grid-column: 3 / -3;
}

.services {
    grid-column: 1 / -1;
}

.brands {
    grid-column: 3 / -3;
}

.about-section {
    grid-column: 3 / -3;
}

footer {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 120px 20px 60px repeat(11, 40px 60px) 20px 120px;
    height: 324px;
    margin: 0;
}

footer .container {
    grid-column: 3 / -3;
    display: grid;
    grid-template-columns: 60px repeat(11, 40px 60px);
    grid-template-rows: 99px 127px 108px;
}

.footer-wrapper-top,
.footer-wrapper {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 60px repeat(11, 40px 60px);
}

.footer-wrapper-center {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 60px repeat(11, 40px 60px);
}

.footer-wrapper-bottom {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 60px repeat(11, 40px 60px);
    height: 70px;
}

.footer-logo {
    grid-column: 1 / 4;
    width: 163px;
    margin-top: 64px;
}

.footer-wrapper-top ul {
    grid-column: -8 / -1;
    margin-left: 46px;
}

.footer-wrapper-top ul li a {
    padding-left: 3px;
}

.products-list {
    display: flex;
    gap: 40px;
    margin: auto;
    flex-wrap: wrap;
}

.breadcrumbs-container {
    grid-column: 4 / 11;
    margin: 44px 0 50px 0;
}

.catalog {
    grid-column: 1 / -1;
}

.catalog-content .container {
    display: grid;
    grid-template-columns: 120px 20px 60px repeat(11, 40px 60px) 20px 120px;
}

.catalog-header {
    grid-column: 1 / -1;
    width: 1440px;
    height: 70px;
}

.catalog-header .container {
    width: 1440px;
    height: 70px;
}

.filter-header {
    grid-column: 1 / 10;
    z-index: 1;
    height: 70px;
    grid-row: 1 / 2;
    width: 468px;
}

.catalog-sort {
    grid-column: 9 / 28;
    grid-row: 1 / 2;
    position: relative;
    left: 105px;
    padding-top: 10px;
    width: 700px;
}

.catalog-sort h3 {
    height: 20px;
    width: 126px;
    left: 540px;
    top: 25px;
    border-radius: nullpx;
}

.catalog-sort-buttons {
    position: relative;
    left: 260px;
}

.catalog-sort-item {
    margin: 0 15px 0 15px;
}

.arrow {
    font-size: 0;
    background-image: url("/img/catalog/icon-down-dir.png");
    background-size: 20px 20px;
    background-position: center center;
    width: 10px;
    height: 10px;
    opacity: 0.5;
}

.sort-up {
    transform: rotate(180deg);
    margin-right: 20px;
}

.sort-down {
    opacity: 1;
}

aside {
    height: 1214px;
    width: 268px;
    padding-left: 200px;
    border-radius: 0px;
    grid-column: 1 / 10;
}

.filter-form {
    height: 100%;
    margin-top: 70px;
    width: 200px;
}

.filter-group:nth-of-type(1) {
    height: 145px;
}

section.catalog-products {
    grid-column: 11 / -1;
    grid-row: 1 / 1;
    margin-top: 70px;
}

header li {
    display: inline-block;
}

header .logo {
    opacity: 1;
    position: relative;
    left: 60px;
    bottom: 20px;
    width: 164px;
}

header .logo:hover [href],
.footer-logo:hover [href] {
    opacity: 0.6;
    cursor: pointer;
}

header .logo:active [href],
.footer-logo:active [href] {
    opacity: 0.3;
    cursor: pointer;
}

header li a:hover,
footer li a:hover,
header li a:focus,
footer li a:focus,
.footer-phone a:hover,
.footer-phone a:focus {
    opacity: 0.6;
}

header li a:active,
footer li a:active {
    opacity: 0.3;
}

.main-header-search {
    border-radius: 0;
    border-width: 0;
    border-style: solid;
    border-bottom-color: var(--basic-black);
    border-bottom-width: 2px;
    margin: 0px -4px 0 0;
    height: 44px;
    width: 356px;
    background: transparent;
}

.search-form {
    grid-column: 4 / 12;
}

.main-header-search:focus {
    outline: 2px dotted #363636;
}

.search-button {
    border-style: solid;
    border-radius: 0;
    border-color: var(--basic-black);
    height: 48px;
    width: 82px;
    background: transparent;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--basic-black);
    color: var(--basic-white);
}

.search-button:active {
    background-color: var(--basic-black);
    color: var(--white-60);
}

.main-header-search::placeholder {
    opacity: 0.3;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    width: 144px;
    text-align: right;
    background-image: url(/img/icon_search.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
}

.main-header-search::-webkit-input-placeholder::before {
    content: '';
    width: 13px;
    height: 14px;
    background-image: url("/img/icon_user.svg");
    background-position: 50% 50%;
    position: relative;
    display: inline-block;
    bottom: -2px;
    left: -13px;
    margin-left: 20px;
}

.main-header-search:hover::placeholder {
    opacity: 0.6;
}

.main-header-search:focus::placeholder {
    opacity: 1;
}

.main-header-wrapper {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.main-header-menu-item {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-align: left;
    text-transform: uppercase;
}

.main-header-login::before,
.main-header-account::before {
    content: '';
    width: 13px;
    height: 14px;
    background-image: url("/img/icon_user.svg");
    background-position: 50% 50%;
    position: relative;
    display: inline-block;
    bottom: -2px;
    left: -13px;
    margin-left: 20px;
}

.main-header-compare::before {
    content: '';
    width: 14px;
    height: 14px;
    background-image: url("/img/icon_chart.svg");
    background-position: 50% 50%;
    position: relative;
    display: inline-block;
    bottom: -2px;
    left: -11px;
}

.main-header-cart::before {
    content: '';
    width: 10px;
    height: 10px;
    background-image: url("/img/icon_cart.svg");
    background-position: 50% 50%;
    position: relative;
    display: inline-block;
    bottom: 0px;
    left: -14px;
}

.catalog-menu-item {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: none;
    margin-bottom: 20px;
}

.catalog-menu {
    display: none;
    opacity: 1;
}

.header-menu-catalog>a::after {
    content: '';
    background-image: url("/img/icon_plus.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 230px;
    bottom: 156.5px;
    display: inline-block;
}

.header-menu-catalog:hover .catalog-menu {
    display: block;
}

.slider-title {
    font-size: 47px;
    font-style: normal;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
}

.slider-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.more-link,
.hover-links button.add-to-cart,
aside .button {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, transparent 44%, var(--special-yellow-dark)44%, var(--special-yellow-dark) 62%, transparent 55%);
    background-clip: padding-box;
    text-align: center;
    padding: 14px 43px 10px 45px;
    margin: 14px 43px 10px 45px;
    border: 0;
    background-color: transparent;
}

.more-link:hover,
.more-link:active,
.services-link:hover,
.services-link:active,
.hover-links button.add-to-cart:hover,
.hover-links button.add-to-cart:active,
aside .button:hover,
aside .button:active {
    background-image: linear-gradient(to bottom, var(--special-yellow-dark) 0%, var(--special-yellow-dark) 100%);
}

.more-link:active,
.hover-links button.add-to-cart:active {
    color: #00000088;
}

.hover-links button {
    cursor: pointer;
}

.add-to-compare {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: left;
    opacity: 0.5;
}

.services-link#delivery-link {
    width: 104px;
    text-align: center;
    background-image: linear-gradient(to bottom, transparent 42%, var(--special-yellow-dark)42%, var(--special-yellow-dark) 60%, transparent 55%);
    background-clip: padding-box;
    text-align: center;
    padding: 14px 21px 10px 20px;
}

.services-link#warranty-link {
    width: 102px;
    text-align: center;
    background-image: linear-gradient(to bottom, transparent 42%, var(--special-yellow-dark)42%, var(--special-yellow-dark) 60%, transparent 55%);
    background-clip: padding-box;
    text-align: center;
    padding: 14px 22px 10px 22px;
}

.services-link#credit-link {
    width: 84px;
    text-align: center;
    background-image: linear-gradient(to bottom, transparent 42%, var(--special-yellow-dark)42%, var(--special-yellow-dark) 60%, transparent 55%);
    background-clip: padding-box;
    text-align: center;
    padding: 14px 35px 10px 35px;
}

 :not(.current) .services-link#credit-link:hover,
 :not(.current) .services-link#warranty-link:hover,
 :not(.current) .services-link#delivery-link:hover,
 :not(.current) .services-link#credit-link:active,
 :not(.current) .services-link#warranty-link:active,
 :not(.current) .services-link#delivery-link:active {
    background-image: linear-gradient(to bottom, var(--special-yellow-dark), var(--special-yellow-dark));
}

.current .services-link#credit-link,
.current .services-link#warranty-link,
.current .services-link#delivery-link,
.current .services-link#credit-link:hover,
.current .services-link#warranty-link:hover,
.current .services-link#credit-link:hover,
.current .services-link#warranty-link:hover,
.current .services-link#delivery-link:hover,
.current .services-link#credit-link:active,
.current .services-link#warranty-link:active,
.current .services-link#delivery-link:active {
    background-image: linear-gradient(to bottom, var(--basic-black), var(--basic-black));
    color: var(--special-yellow);
}

.current .services-link#credit-link {
    padding-right: 137px;
}

.current .services-link#warranty-link {
    padding-right: 139px;
}

.current .services-link#delivery-link {
    padding-right: 142px;
}

.services-tab {
    text-align: center;
    margin: 30px;
}

.parameters dd {
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 42px;
    letter-spacing: 0.1em;
    text-align: left;
}

.categories-list {
    display: flex;
    justify-content: space-between;
}

.slider-item:not([class="slider-item-1"]) {
    display: none;
}

.slider-item-show {
    display: grid !important;
}

.slider-item {
    height: 506px;
    width: 1024px;
    left: 89px;
    top: 174px;
    border-radius: 0px;
    display: grid;
    grid-template-columns: 40px repeat(10, 60px 40px);
}

.slider-item-left {
    grid-column: 1 / 11;
}

.slider-item-right {
    grid-column: 11 / -1;
    display: grid;
    grid-template-columns: 40px repeat(5, 60px 40px);
}

.slider-title {
    grid-column: 1 / -1;
}

.slider-text {
    grid-column: 1 / -1;
}

.slider-link-wrapper {
    grid-column: 1 / 4;
    padding: 0;
}

.slider-link {
    margin: 0;
}

.parameters {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 40px repeat(5, 60px 40px);
    grid-template-rows: repeat(2, 1fr);
}

.slider-item-1 .parameters dd:nth-of-type(1) {
    text-align: left;
    margin: 0;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.slider-item-1 .parameters dd:nth-of-type(2) {
    text-align: left;
    margin: 0;
    grid-column: 4 / 6;
    grid-row: 1 / 2;
}

.slider-item-1 .parameters dd:nth-of-type(3) {
    text-align: left;
    margin: 0;
    grid-column: 7 / -1;
    grid-row: 1 / 2;
}

.slider-item-1 .parameters dt:nth-of-type(1) {
    text-align: left;
    margin: 0;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.slider-item-1 .parameters dt:nth-of-type(2) {
    text-align: left;
    margin: 0;
    grid-column: 4 / 6;
    grid-row: 2 / 3;
}

.slider-item-1 .parameters dt:nth-of-type(3) {
    text-align: left;
    margin: 0;
    grid-column: 8 / -1;
    grid-row: 2 / 3;
}

.slider-item-2 .parameters dd:nth-of-type(1) {
    text-align: left;
    margin: 0;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.slider-item-2 .parameters dt:nth-of-type(1) {
    text-align: left;
    margin: 0;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}

.slider-item-3 .parameters dd:nth-of-type(1) {
    text-align: left;
    margin: 0;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.slider-item-3 .parameters dd:nth-of-type(2) {
    text-align: left;
    margin: 0;
    grid-column: 5 / 8;
    grid-row: 1 / 2;
}

.slider-item-3 .parameters dt:nth-of-type(1) {
    text-align: left;
    margin: 0;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.slider-item-3 .parameters dt:nth-of-type(2) {
    text-align: left;
    margin: 0;
    grid-column: 5 / 8;
    grid-row: 2 / 3;
}

.categories-item {
    width: 160px;
    height: 220px;
}

.category-image {
    width: 160px;
    height: 160px;
    text-align: center;
    background-color: var(--special-yellow);
}

.category-image svg {
    width: 117px;
    height: 117px;
    margin-top: 21.5px;
}

.categories-item-link:hover .category-image,
.categories-item-link:active .category-image {
    width: 160px;
    height: 160px;
    text-align: center;
    background-color: var(--special-yellow-dark);
}

.categories-item-link:active p {
    opacity: 0.5;
}

.categories-item-link:active svg {
    width: 117px;
    height: 117px;
    margin-top: 21.5px;
    opacity: 0.5;
}

.services {
    height: 403px;
    width: 1440px;
    border-radius: 0px;
}

.services .container {
    display: grid;
    height: 403px;
    width: 1440px;
    grid-template-columns: 120px 20px 60px repeat(11, 40px 60px) 20px 120px;
    background-image: linear-gradient(to bottom, transparent, transparent 115px, var(--basic-grey-light) 115px);
}

.service {
    display: none;
}

.service-show {
    display: grid;
    position: relative;
    grid-template-columns: 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px;
}

.service-show::before {
    position: absolute;
    content: '';
    background-color: var(--basic-black);
    height: 320px;
    width: 7px;
    border-radius: 0px;
}

.services-item-title {
    grid-column: 3 / 8;
}

.services-item-description {
    grid-column: 3 / -6;
}

.service img {
    grid-column: -4 / -1;
    text-align: right;
    grid-row: 1 / 3;
    margin-left: auto;
    margin-top: 60px;
}

.services-nav {
    grid-column: 2 / 8;
}

.services-tab {
    margin: 0;
}

.services-tab {
    margin-top: 40px;
}

.services-tab:nth-of-type(1) {
    margin-top: 104px;
}

.categories-item {
    display: inline-block;
}

.categories-item p {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-align: left;
}

.services-item-title {
    font-size: 47px;
    font-style: normal;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0.2em;
    text-align: left;
}

.services-tab {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-align: left;
    text-transform: uppercase;
}

h2 {
    font-size: 47px;
    font-style: normal;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0.2em;
    text-align: left;
}

ul:not([class="delivery-services-list"]) {
    list-style: none;
}

.delivery-service {
    list-style: url("/img/li-marker.svg");
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 20px;
}

.brand {
    display: inline-block;
}

.brand a {
    filter: grayscale(1) opacity(0.3);
}

.brand a:hover {
    filter: none;
}

footer {
    background-color: var(--basic-dark);
    color: var(--basic-white);
}

footer a {
    color: var(--basic-white);
}

.footer-links-list li {
    display: inline-block;
}

.footer-links-list a {
    color: var(--white-60);
    opacity: 1;
}

.footer-links-list a:hover {
    color: var(--basic-white);
    opacity: 1;
}

.footer-links-list a::before {
    opacity: 1;
}

.footer-links-list a:hover::before {
    opacity: 0.6;
}

.footer-links-list a:active::before {
    opacity: 0.3;
}

span.user {
    display: inline-block;
}

.search-form {
    display: inline-block;
}

.footer-links-list a {
    color: var(--white-60);
}

.contacts,
.about-us {
    line-height: 28px;
}

.social-button {
    font-size: 0;
}

.social-button a:hover {
    opacity: 1;
}

.social-button a {
    opacity: 0.6;
}

.footer-login {
    margin-right: 45px;
    margin-left: -4px;
}

.footer-links-list {
    width: 485px;
    grid-column: 14 / -1 !important;
    margin-left: 16px !important;
    max-height: 50px;
    height: 50px;
    position: relative;
    top: 31px;
    text-align: right;
}

.footer-links-list-user {
    width: 485px;
    grid-column: 14 / -1 !important;
    margin-left: 16px !important;
    max-height: 50px;
    height: 50px;
    text-align: right;
}

.footer-links-list-user .user {
    position: relative;
    left: -35px;
    top: -0px;
}

.footer-address {
    grid-column: 1 / 8;
    margin-top: 40px;
    height: 40px;
    width: 228px;
}

.footer-menu {
    grid-column: 8 / -8;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 28px;
}

.footer-phone {
    grid-column: -4 / -1;
    margin-top: 43px;
}

.social-button-list {
    grid-column: 10 / 14;
    display: flex;
    justify-content: space-evenly;
    height: 32px;
    position: relative;
    top: -17px;
}

.social-button {
    height: 32px;
    width: 32px;
}

.footer-academy-logo {
    grid-column: -4 / -1;
    text-align: right;
}

.footer-decoration-line {
    height: 7px;
    width: 80px;
    border-radius: 0px;
    background: var(--special-yellow-dark);
    margin-top: 17px;
}

.footer-login::before,
.footer-account::before {
    content: '';
    width: 14px;
    height: 14px;
    background-image: url("/img/icon_user-footer.svg");
    background-position: 50% 50%;
    position: relative;
    display: inline-block;
    bottom: -2px;
    left: -14px;
    background-repeat: no-repeat;
}

.footer-compare {
    margin-right: 50px;
    margin-left: -8px;
}

.footer-compare::before {
    content: '';
    width: 14px;
    height: 14px;
    background-image: url("/img/icon_chart-footer.svg");
    background-position: 50% 50%;
    position: relative;
    display: inline-block;
    bottom: -2px;
    left: -14px;
    background-repeat: no-repeat;
}

.footer-cart::before {
    content: '';
    width: 14px;
    height: 14px;
    background-image: url("/img/icon_cart-footer.svg");
    background-position: 50% 50%;
    position: relative;
    display: inline-block;
    bottom: 0px;
    left: -14px;
    background-repeat: no-repeat;
}

footer>.container {
    height: 324px;
}

.footer-menu-item {
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-align: left;
    display: inline-block;
}

.social-button-list li {
    display: inline-block;
}

.social-button {
    display: inline-block;
    opacity: 0.6;
}

.social-button:hover {
    opacity: 1;
}

.footer-academy-logo {
    opacity: 1;
}

.footer-academy-logo:hover {
    opacity: 0.6;
}

.footer-academy-logo:active {
    opacity: 0.3;
}

.modal {
    background-color: var(--basic-white);
    box-shadow: 0px 10px 16px 0px #00000026;
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    width: 960px;
    transform: translateX(-465px) translateY(-255px);
    height: 550px;
    z-index: 1;
}

.modal-map .modal-close {
    font-size: 0;
    background-image: url("/img/icon_cross.png");
    background-color: var(--special-yellow);
    border-radius: 50%;
    height: 55px;
    width: 55px;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 0;
    position: relative;
    right: -875px;
    top: -530px;
}

.modal-write-us .modal-close {
    font-size: 0;
    background-image: url("/img/icon_cross.png");
    background-color: var(--special-yellow);
    border-radius: 50%;
    height: 55px;
    width: 55px;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 0;
    position: relative;
    right: -50px;
    top: -30px;
}

.modal-write-us {
    display: grid;
    grid-template-columns: 60px repeat(9, 40px 60px);
}

.modal-write-us .modal-close {
    position: relative;
    top: 30px;
    right: -20px;
}

.modal form {
    grid-column: 3 / -3;
    display: grid;
    grid-template-columns: 60px repeat(7, 40px 60px);
}

.form-input-wrapper {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 60px repeat(7, 40px 60px);
    margin-top: 70px;
}

.wrapper-column-1 {
    grid-column: 1 / 8;
    display: grid;
    grid-template-columns: 60px repeat(3, 40px 60px);
}

.wrapper-column-2 {
    grid-column: 9 / -1;
    display: grid;
    grid-template-columns: 60px repeat(3, 40px 60px);
}

.wrapper-column label {
    grid-column: 1 / 5;
    height: 20px;
    position: relative;
    top: 20px;
}

.wrapper-row {
    grid-column: 1 /-1;
}

.wrapper-row label {
    position: relative;
    bottom: 10px;
}

.wrapper-column input {
    grid-column: 1/-1;
}

.modal form label {
    display: block;
}

.modal form .button {
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    grid-column: 1 / 5;
    height: 40px;
}

.modal textarea,
.modal input {
    background-color: #F2F2F2;
}

.modal input:valid,
.modal textarea:valid {
    background-color: #F2F2F2;
}

.modal input:hover,
.modal textarea:hover {
    background-color: var(--basic-grey-light);
}

.modal input:focus,
.modal textarea:focus {
    background-color: var(--basic-white) !important;
    outline: 2px solid var(--special-yellow);
}

.modal input:invalid {
    background-color: var(--error);
}

.modal-close:hover {
    background-color: var(--special-yellow-dark);
}

.modal-close:active {
    background-color: var(--special-yellow-dark);
    opacity: 0.3;
}

.write-as-input {
    background: #f7f7f7;
    border: 0;
    width: 360px;
    height: 50px;
}

.write-as-textarea {
    background: #f7f7f7;
    border: 0;
    height: 167px;
    width: 760px;
    border-radius: 0px;
}

.write-us-label {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.modal .button {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, transparent 42%, var(--special-yellow)42%, var(--special-yellow) 60%, transparent 55%);
    background-clip: padding-box;
    text-align: center;
    padding: 14px 43px 10px 45px;
    margin: 14px 43px 10px 45px;
    background-color: transparent;
    border: 0;
}

.modal .button:hover,
.modal .button:active {
    background-image: linear-gradient(to bottom, var(--special-yellow) 0%, var(--special-yellow) 100%);
    color: #00000088;
    background-color: transparent;
    border: 0;
}


/* 
* CATALOG styles
*
*/

.breadcrumbs-item {
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.6;
}

.breadcrumbs-item a[href]::after {
    content: ">";
    margin-left: 5px;
}

.catalog-nav {
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
    background-color: var(--basic-grey-light);
}

.catalog-nav * {
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
}

.catalog-nav ul {
    margin: 0;
    padding: 0;
}

.catalog-nav .page {
    opacity: 0.3;
}

.catalog-nav .page.current {
    opacity: 1;
}

.filter-group,
.filter-horisontal,
.left-side {
    background-color: var(--basic-grey-light);
    border: 0;
    border-radius: 0;
    margin: 0;
}

.filter-horisontal h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
}

.filter-group legend {
    padding: 0;
    margin: 0;
    /* position: relative;
bottom: 10px; */
    height: 45px;
    width: 200px;
    padding: 14px 0 14px 0;
}

.filter-group legend::before {
    width: 200px;
    height: 2px;
    content: '';
    background-color: var(--basic-black);
    display: block;
    margin-bottom: 14px;
}

.catalog-sort-item {
    opacity: 0.3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.current {
    opacity: 1;
}

.products-list {
    position: relative;
    top: 70px;
}

.new {
    position: relative;
}

.new .image-hover-wrapper::before {
    content: url("/img/catalog/icon-new.png");
    width: 62px;
    height: 62px;
    display: inline;
    position: absolute;
    top: 30px;
    left: 270px;
}

.catalog-header * {
    display: inline-block;
}

.catalog-content .left-side {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
}

.filter-horisontal {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
}

.catalog-products {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.product {
    height: 450px;
    min-width: 360px;
    width: 360px;
}

.catalog-nav {
    position: absolute;
    top: 1600px;
}

.filter-header {
    background-color: #DCDCDC;
}

legend {
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-align: left;
}

.color-list-item {
    margin: 10px 0 10px 0;
}

.color-list-item label {
    margin-left: 38px;
    position: relative;
}

.color-list-item input~label::before {
    height: 20px;
    width: 20px;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--basic-black);
    border-radius: 2px;
    content: '';
    position: absolute;
    left: -38px;
}

.color-list-item input:checked~label::before {
    height: 20px;
    width: 20px;
    background: url(/img/catalog/icon_check.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--basic-black);
    border-radius: 2px;
    content: '';
    position: absolute;
    left: -38px;
}

.color-list-item input~label:hover::before {
    height: 20px;
    width: 20px;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--basic-black);
    border-radius: 2px;
    content: '';
    position: absolute;
    left: -38px;
    opacity: 0.6;
}

.color-list-item input:checked~label:hover::before {
    height: 20px;
    width: 20px;
    background: url(/img/catalog/icon_check.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--basic-black);
    border-radius: 2px;
    content: '';
    position: absolute;
    left: -38px;
    opacity: 0.6;
}

.color-list-item input:disabled~label::before {
    height: 20px;
    width: 20px;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--basic-black);
    border-radius: 2px;
    content: '';
    position: absolute;
    left: -38px;
    opacity: 0.3;
}

.color-list-item input:checked:disabled~label::before {
    height: 20px;
    width: 20px;
    background: url(/img/catalog/icon_check.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--basic-black);
    border-radius: 2px;
    content: '';
    position: absolute;
    left: -38px;
    opacity: 0.3;
}

.color-list-item input:disabled~label::before {
    height: 20px;
    width: 20px;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--basic-black);
    border-radius: 2px;
    content: '';
    position: absolute;
    left: -38px;
    opacity: 0.3;
}

.color-list-item input:checked:disabled~label:hover::before {
    height: 20px;
    width: 20px;
    background: url(/img/catalog/icon_check.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--basic-black);
    border-radius: 2px;
    content: '';
    position: absolute;
    left: -38px;
    opacity: 0.3;
}

.hover-links {
    position: relative;
    display: none;
    top: -380px;
    height: 130px;
    width: 340px;
    padding: 150px 0 100px 20px;
    background-color: var(--white-30);
}

.hover-links:hover,
.product:hover .hover-links {
    display: block;
}

.product:hover .product-info-wrapper {
    position: relative;
    top: -380px;
}

.product a {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-align: left;
}

.hover-links .add-to-cart {
    margin-left: 30px;
    position: relative;
    left: 10px;
}

.hover-links .add-to-compare {
    position: relative;
    left: 74px;
}

.add-to-compare:hover {
    color: var(--basic-black);
    opacity: 1;
}

.add-to-compare:active {
    color: var(--white-60);
    opacity: 1;
}

.catalog-nav {
    height: 70px;
    width: 760px;
}

.catalog-nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.catalog-nav-button {
    margin: 25px 30px 25px 30px;
}

.catalog-nav .page {
    margin: 15px;
}

.bluetooth-item {
    margin: 10px 0 10px 0;
}

.bluetooth-item label {
    margin-left: 38px;
    position: relative;
}

.bluetooth-item input~label::before {
    height: 20px;
    width: 20px;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--basic-black);
    border-radius: 50%;
    content: '';
    position: absolute;
    left: -38px;
}

.bluetooth-item input:checked~label::before {
    height: 20px;
    width: 20px;
    background: radial-gradient( var(--basic-black) 30%, transparent 30%);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--basic-black);
    border-radius: 50%;
    content: '';
    position: absolute;
    left: -38px;
}

.bluetooth-item input~label:hover::before {
    height: 20px;
    width: 20px;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--basic-black);
    border-radius: 2px;
    content: '';
    border-radius: 50%;
    left: -38px;
    opacity: 0.6;
}

.bluetooth-item input:checked~label:hover::before {
    height: 20px;
    width: 20px;
    background: radial-gradient( var(--basic-black) 30%, transparent 30%);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--basic-black);
    border-radius: 50%;
    content: '';
    position: absolute;
    left: -38px;
    opacity: 0.6;
}

.bluetooth-item input:disabled~label::before {
    height: 20px;
    width: 20px;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--basic-black);
    border-radius: 50%;
    content: '';
    position: absolute;
    left: -38px;
    opacity: 0.3;
}

.bluetooth-item input:checked:disabled~label::before {
    height: 20px;
    width: 20px;
    background: radial-gradient( var(--basic-black) 30%, transparent 30%);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--basic-black);
    border-radius: 50%;
    content: '';
    position: absolute;
    left: -38px;
    opacity: 0.3;
}

.bluetooth-item input:disabled~label::before {
    height: 20px;
    width: 20px;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--basic-black);
    border-radius: 50%;
    content: '';
    position: absolute;
    left: -38px;
    opacity: 0.3;
}

.bluetooth-item input:checked:disabled~label:hover::before {
    height: 20px;
    width: 20px;
    background: radial-gradient( var(--basic-black) 30%, transparent 30%);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--basic-black);
    border-radius: 50%;
    content: '';
    position: absolute;
    left: -38px;
    opacity: 0.3;
}

.range-filter {
    width: 200px;
}

.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(0, 0, 0, 0.200);
    width: 100%;
}

.range-controls .bar {
    width: 120px;
    height: 2px;
    background: var(--special-green);
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.range-filter label {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    top: -40px;
}

.range-filter input {
    width: 60px;
    border: none;
    background: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.modal {
    display: none;
}

.unshow {
    animation: hide .3s forwards;
}

@keyframes hide {
    from {
        top: 50%;
        opacity: 1px;
    }
    to {
        top: 200%;
        opacity: 0;
    }
}

.show-form {
    display: grid;
    animation: show .3s forwards;
}

.show-map {
    display: block;
    animation: show .3s forwards;
}

@keyframes show {
    from {
        opacity: 0;
        top: 200%;
    }
    to {
        opacity: 1;
        top: 50%;
    }
}

.about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 580px;
}


/*  */

.more-link,
.modal-close,
.contacts-map {
    cursor: pointer;
}

.about-us::before,
.contacts::before {
    content: '';
    display: block;
    background: #000;
    position: relative;
    height: 7px;
    width: 80px;
    border-radius: 0px;
}

.about-us .more-link {
    width: 260px;
    text-align: center;
    padding-left: 18px;
    padding-right: 16px;
    margin: 0;
    background-size: 260px;
    position: relative;
    top: 90px;
}

.p-margin {
    margin-top: 20px;
    margin-bottom: 40px;
}

.contacts .more-link {
    width: 260px;
    text-align: center;
    padding-left: 40px;
    padding-right: 38px;
    margin: 0;
    background-size: 260px;
    position: relative;
    top: 55px;
}

.current .services-link#warranty-link {
    padding-right: 145px;
}

.services-tab,
.dot {
    cursor: pointer;
}

.dot {
    font-size: 0;
    border: 2px solid #000;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-block;
}

.active {
    background-image: radial-gradient(transparent 20%, #000 20%, #000 40%, transparent 40%);
}

.current .services-link#credit-link {
    padding-right: 158px;
}

.slider-nav {
    position: relative;
    top: 470px;
    left: 1000px;
}

.slider-item::before {
    display: block;
    position: absolute;
    height: 170px;
    width: 182px;
    font-size: 179px;
    font-style: normal;
    font-weight: 800;
    line-height: 219px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--basic-white);
    top: 190px;
    left: 1070px;
}

.slider-item::after {
    content: '';
    display: block;
    position: absolute;
    height: 7px;
    width: 100px;
    left: 740px;
    top: 235px;
    border-radius: 0px;
    background-color: var(--basic-white);
}

.slider-item-1::before {
    content: '01';
}

.slider-item-2::before {
    content: '02';
}

.slider-item-3::before {
    content: '03';
}